# Next.js
futebol-ranking-app/.next/
futebol-ranking-app/out/
futebol-ranking-app/build/

# Node
futebol-ranking-app/node_modules/

# Env
futebol-ranking-app/.env
futebol-ranking-app/.env.local
futebol-ranking-app/.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
*.swp

# Debug
npm-debug.log*
